%h1 大喜利向上委員会(β)
%button.btn
  = link_to "ログインせずに受験", "#"
%button.btn
  = link_to "新規会員登録/ログイン", "#"

%h3 これはなに
%p 大喜利の問題を出題してくれるアプリです。ランダムで10題の問題セットを出題します。回答後は、解答例としてユーザの秀逸な回答をすぐに確認できます。たくさんの問題を解く機会と、厳選された模範解答を用いてセルフチェックのできるサービスを提供します。

%h3 特徴
%ul
  %li 問題の質にこだわっています。
  どんなに才能のある芸人であっても、その能力を最大限に引き出せる”問い”がないと才能は発揮できません。本アプリは、問題づくりにとことんこだわっています。
  大喜利の別解は無数にあります。一度といた問題であっても、繰り返し何度も取り組んで楽しんでください。
  %li 極力クローズドで、のびのび回答できる場を提供します。
  「ボケること」は、自分の価値観を開示することであり、勇気のいることです。上達のうえで場数を踏むことは欠かせませんが、できれば始めのうちは人目を避けてのびのびとやってみたい。
  本アプリでの回答は、原則他の方が見ることができないようになっています（詳細は次の項にて）。はじめから面白いことを言える人はいません。大喜利と聞いて身構えず、自由な発想で楽しんでください。
  %li 運営が楽しんでみています。
  とはいえ、誰もみていないとなると壁と話しているような気がしてしょんぼりしてしまいます。
  運営＝山岸は、みなさんの全ての回答を楽しんで見ています。面白いな～と思う回答には運営がいいね、コメントしたりします。とくに優秀な回答は、模範解答として反映されます。
  もちろん、本当にだれの目にも触れられることなく楽しむこともできます。回答非公開機能をご利用ください。
  %li サブスクライブ機能があります。
  友達と一緒に楽しみたい、個人的に好きなユーザの回答をもっと見てみたいというあなた向けに、サブスクライブ機能を用意しています。サブスクライブ中のユーザの回答は、自分が問題に回答した際に、解答例として確認することができます。
